:root {
  /* --primary-green: #ddffe0;
  --dark-green: #425f57;*/
  --primary-dark-blue: #002952;
  --primary-light-blue: #9cf;
  --btn-blue: #28acfe;
  --primary-off-white: #fffbde;
  /* --primary-yellow: #efdd4b;
  --primary-white: #fff;
  --primary-pink: #f000f5; */
  --box-shadow: 0px 22px 90px 46px rgba(0, 0, 0, 0.25),
    -17px -44px 69px 0px rgba(0, 0, 0, 0.25) inset,
    73px 90px 56px 0px rgba(255, 237, 140, 0.25) inset;
  --transform-btn: scale(0.9);
  --transition-btn: 500ms all ease-in-out;
}

/* Custom Background CSS starts */

.App {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu,
.instruction,
.level,
.game,
.summary {
  width: 100%;
  height: 100vh;
}

/* Menu Page CSS Start*/

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu-heading h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-light-blue);
  background: var(--primary-dark-blue);
  padding: 0.5rem 1rem;
  border: 5px dashed var(--primary-light-blue);
  border-radius: 1rem;
}

.menu-btn {
  cursor: pointer;
  transition: var(--transition-btn);
  background: transparent;
  border: none;
  outline: none;
}

.menu-btn i {
  color: var(--primary-light-blue);
  background: var(--primary-dark-blue);
  padding: 1rem 1.5rem;
  font-size: 3.5rem;
  border: 3px dashed var(--primary-light-blue);
  border-radius: 1rem;
  transition: var(--transition-btn);
}

.menu-btn:hover {
  transform: var(--transform-btn);
}

/* Menu Page CSS End*/

/* Instruction Page CSS Starts */

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 500px;
  background: var(--primary-off-white);
  border: 5px solid #73bc7f;
  padding: 1rem 2rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.instruction-heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 4rem;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px var(--primary-light-blue);
  color: var(--primary-dark-blue);
}

.instruction-text-item {
  width: 80%;
  display: flex;
  margin: 25px auto;
}

.instruction-text-item img {
  width: 25px;
  margin-right: 20px;
}

.instruction-text-item p {
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
}

.instruction-btn,
.instruction-btn-blr {
  width: 200px;
  background: var(--primary-dark-blue);
  padding: 12px;
  border: 3px dashed var(--primary-light-blue);
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: var(--transition-btn);
}

.instruction-btn-blr {
  opacity: 0.2;
}

.instruction-btn:hover {
  transform: var(--transform-btn);
}

/* Instruction Page CSS Ends */

/* Level Page CSS Starts */

.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  background: var(--primary-off-white);
  padding: 1.8rem;
  border: 5px solid #73bc7f;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
}

.level-box .level-heading {
  font-size: 2rem;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  color: var(--primary-dark-blue);
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px var(--primary-light-blue);
  margin-bottom: 1.9rem;
}

.level .level-box .radio-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.level .level-box .radio-item label {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 3px;
  color: transparent;
  /* text-shadow: 0.5px 0.5px 1px gray; */
  -webkit-text-stroke: 2px var(--primary-dark-blue);
}

.level .level-box .radio-item input {
  appearance: none;
  border: 3px solid var(--primary-dark-blue);
  background-color: var(--primary-dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 17px;
}

.level .level-box .radio-item input:checked {
  background: var(--primary-light-blue);
}

/* Level Page CSS Ends */

/* Game CSS Starts */
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-nav {
  width: 100%;
  padding: 2rem 5rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rebeccapurple; */
  /* color: var(--primary-brown); */
}

.game .game-nav .pause-btn {
  padding: 0.5rem 1rem;
  background: var(--primary-dark-blue);
  border: 3px solid var(--primary-light-blue);
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition-btn);
  /* background: transparent; */
}

.game .game-nav .pause-btn:hover {
  transform: var(--transform-btn);
}

.game .game-nav .pause-btn i {
  font-size: 3rem;
  color: var(--primary-light-blue);
}

.game-title {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
  text-shadow: 0px 34px 20px rgba(0, 0, 0, 0.25);
  font-size: 4rem;
  -webkit-text-stroke: 1px var(--primary-light-blue);
  color: var(--primary-dark-blue);
}

.game-timer {
  padding: 0.5rem;
  border: 3px solid var(--primary-light-blue);
  border-radius: 1rem;
  background: var(--primary-dark-blue);
}

.game-timer-count {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-light-blue);
}

/* .game-progress {
  width: 70%;
  margin: 1.5rem auto 0;
}

.progress-bar {
  width: 100%;
  background: var(--primary-dark-blue);
  height: 12px;
  border-radius: 6px;
}

.progress-level {
  width: 0%;
  height: 100%;
  background: var(--primary-green);
  border-radius: inherit;
}

.progress-count p {
  color: var(--dark-peach);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0  0 8px;
}

.progress-count p span {
  color: var(--primary-green);
  font-size: 1.8rem;
} */

.game-main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem; */
}

.game-question {
  width: 350px;
  height: 250px;
  padding: 1.5rem;
  background: var(--primary-off-white);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  border: 4px solid #73bc7f;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-question img {
  width: 100%;
}

.game-option {
  width: 85%;
  padding: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
  transition: var(--transition-btn);
}

.game-option-btn,
.correct-option-btn,
.wrong-option-btn {
  cursor: pointer;
  padding: 15px 20px;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  outline: none;
  text-align: left;
  box-shadow: 0px -13px 10px 0px rgba(0, 0, 0, 0.25) inset,
    0px 29px 17px 0px rgba(255, 236, 137, 0.25) inset;
}

.game-option-btn {
  background: var(--primary-off-white);
  border: 3px solid #73bc7f;
  color: #502f1a;
}

.game-option-btn:hover {
  transform: scale(0.99);
}

.correct-option-btn {
  background: #9b8bff;
  color: var(--primary-off-white);
}

.wrong-option-btn {
  background: rgb(247, 100, 100);
  color: #fff;
}

.correct-option-btn:hover,
.wrong-option-btn:hover {
  transform: none;
}

.gradient-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.new-game-btn,
.next-btn {
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(317deg, #500886 0%, #b40f9d 100%);
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.next-btn-blr {
}

.next-btn-blr:hover {
  transform: none;
}

/* Game CSS Ends */

/* Tablet Styles Start */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Menu CSS for Tablet Starts */
  .menu-heading h1 {
    font-size: 5rem;
  }
  /* Menu CSS for Tablet Ends */

  /* Instruction CSS for Tablet Starts */
  .instruction-box {
    width: 85%;
  }
  .instruction-text-item {
    width: 95%;
  }
  /* Instruction CSS for Tablet Ends */
}

/* Tablet Styles End */
