:root {
  /* --primary-green: #ddffe0;
  --dark-green: #425f57;*/
  --primary-dark-blue: #002952;
  --primary-light-blue: #9cf;
  --btn-blue: #28acfe;
  /* --primary-yellow: #efdd4b;
  --primary-white: #fff;
  --primary-pink: #f000f5;
  --box-shadow: -5px -28px 100px 0px #c7e8ca inset,
    0px -13px 10px 0px #5d9c59 inset,
    20px 16px 10px 0px rgba(255, 249, 249, 0.3) inset,
    11px 15px 15px 0px rgba(0, 0, 0, 0.25);
   */
  --transform-btn: scale(0.9);
  --transition-btn: 500ms all ease-in-out;
}

/* Custom Background CSS starts */

.App {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu,
.instruction,
.level,
.game,
.summary {
  width: 100%;
  height: 100vh;
}

/* Menu Page CSS Start*/

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu-heading h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-light-blue);
  background: var(--primary-dark-blue);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.menu-btn {
  cursor: pointer;
  transition: var(--transition-btn);
  background: transparent;
  border: none;
  outline: none;
}

.menu-btn i {
  color: var(--primary-light-blue);
  background: var(--primary-dark-blue);
  padding: 1rem 1.5rem;
  font-size: 4rem;
  border: 2px solid var(--primary-light-blue);
  border-radius: 0.5rem;
  transition: var(--transition-btn);
}

.menu-btn:hover {
  transform: var(--transform-btn);
}

/* Menu Page CSS End*/

/* Tablet Styles Start */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Menu CSS for Tablet Starts */
  .menu-heading h1 {
    font-size: 5rem;
  }
  /* Menu CSS for Tablet Ends */

  /* Instruction CSS for Tablet Starts */
  .instruction-box {
    width: 85%;
  }
  .instruction-text-item {
    width: 95%;
  }
  /* Instruction CSS for Tablet Ends */
}

/* Tablet Styles End */
